a {
    font-size: 12px;
  }
  #topBar {
    background: #ffffff;
  }
  .topBar {
    font-size: 16px;
    .top_left {
      .logo {
        float: left;
        margin-right: 55px;
      }
      .recommend {
        a {
          display: inline-block;
          font-size: 16px;
          width: 32px;
          line-height: 78px;
          color: #000000;
          margin: 0 9px;
          &:hover {
            color: #ff1268;
          }
        }
      }
    }
    .top_search {
      margin: 15px 0 0 160px;
      input {
        width: 318px;
        height: 46px;
        box-sizing: border-box;
        padding: 0 55px;
        background: url(../img/topBar_search.png) no-repeat 20px center #f8f8f8;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
      }
      .search_btn {
        display: inline-block;
        width: 83px;
        height: 46px;
        font-size: 16px;
        background: #ff1268;
        color: #fff0ff;
        text-align: center;
        line-height: 46px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        cursor: pointer;
        vertical-align: top;
      }
    }
    .top_right {
      .user {
        position: relative;
        .userName {
          display: inline-block;
          font-size: 16px;
          width: 100px;
          line-height: 78px;
          color: #000000;
          padding: 0 15px;
          white-space: nowrap;/*文本强制一行*/
          overflow: hidden;
          text-overflow: ellipsis;/*多出内容显示省略号*/
          i {
            margin-right: 5px;
          }
          &:hover {
            color: #ff1268;
          }
        }
        .userList {
          display: none;
          position: absolute;
          border: 1px solid #F2F2F2;
          background: #FFFFFF;
          top: 66px;
          right: -5px;
          li {
            a {
              display: block;
              width: 135px;
              line-height: 50px;
              text-align: center;
              border-bottom: 1px solid #f2f2f2;
              color: #111111;
            }
            &:hover {
              background: #fff4f8;
              a {
                color: #ff1268;
              }
            }
          }
          .trianglebd {
            width: 0;
            height: 0;
            border: 8px solid;
            border-color: #fff0;
            border-bottom-color: #f2f2f2;
            position: absolute;
            top: -17px;
            right: 58px;
          }
          .triangle {
            width: 0;
            height: 0;
            border: 8px solid;
            border-color: #fff0;
            border-bottom-color: #ffffff;
            position: absolute;
            top: -16px;
            right: 58px;
          }
        }
        &:hover {
          .userList {
            display: block;
          }
        }
      }
      .downLoad {
        position: relative;
        span {
          display: block;
          width: 65px;
          line-height: 78px;
          color: #000000;
          padding: 0 15px;
          cursor: pointer;
          i {
            margin-right: 5px;
          }
          &:hover {
            color: #ff1268;
          }
        }
        .downQr {
          display: none;
          padding: 8px;
          background: #ffffff;
          border: 1px solid #676b6e;
          position: absolute;
          top: 62px;
          left: 0;
        }
        &:hover {
          .downQr {
            display: block;
          }
        }
        .trianglebd {
          width: 0;
          height: 0;
          border: 8px solid;
          border-color: #fff0;
          border-bottom-color: #676b6e;
          position: absolute;
          top: -17px;
          right: 45px;
        }
        .triangle {
          width: 0;
          height: 0;
          border: 8px solid;
          border-color: #fff0;
          border-bottom-color: #ffffff;
          position: absolute;
          top: -16px;
          right: 45px;
        }
      }
    }
  }

  #mian{
    background: #FFFFFF;
  }
  .main{
      .oui_coupon_menus{
        width: 169px; 
        vertical-align: top;
        display: inline-block;
        .coupon_title{
            font-size: 22px;
            color: #FF1268;
            margin-top: 40px;
        } 
        .coupon_menu_title{
            font-size: 16px;
            color: #000;
            padding: 30px 0 15px;
        }
        .coupon_menu_item{
            li{
                font-size: 14px;
                color: #333;
                padding-top: 15px;
                a{
                    color: #333;
                    &:hover{
                        color: #ff1268;
                    }
                }
            }
        }
      }
      .oui_coupon_right{
        width: 1000px;
        margin-top: 40px;
        padding-bottom: 15px;
        vertical-align: top;
        display: inline-block;
        .order_list{
          width: 1000px;
          font-size: 12px;
          line-height: 16px;
        }
        .order-list-header{
          margin-bottom: 20px;
          width: 1000px;
          box-sizing: border-box;
          //边框颜色透明
          border-left: 1px solid transparent;
          border-right: 1px solid transparent;
          background: #f7f7f7;
          color: #333333;
          padding: 12px 0 12px 20px;
          height: 40px;
          line-height: 16px;
          .next-col{
            text-align: center;
            float: left;
          }
        }
        .order_list_container{
          .order-list-item-header{
            padding: 14px 0 14px 20px;
            background: #f7f7f7;
            color: #000000;
            border-bottom: 1px solid #ebebeb;
          }
          .order-list-item-bottom{
            padding-left: 20px;
            border: 1px solid #ebebeb;
            border-top: none;
            .project-name{
              .project-name-wrapper{
                padding: 12px 0 16px 0;
                .project-name-img{
                  margin-right: 16px;
                  img{
                    width: 62px;
                    height: 80px;
                  }
                }
                .project-name-content{
                  .project-name{
                    color: #4a4a4a;
                    width: 310px;
                    margin-bottom: 4px;
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .project-name-perform{
                    color: #9b9b9b;
                    margin-bottom: 2px;
                  }
                  .project-name-venue{
                    color: #9b9b9b;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 310px;
                  }
                }
              }
            }
            .ticket-number{
              .ticket-number-wrapper{
                display: block;
                padding: 12px 0 16px 0;
                color: #3c3c3c;
                text-align: center;
              }
            }
            .order-amount{
              .order-amount-wrapper{
                width: 100%;
                padding: 12px 0 16px 0;
                text-align: center;
              }
            }
            .transaction-status{
              .transaction-status-wrapper{
                width: 100%;
                padding: 12px 0 16px 0;
                text-align: center;
                color: #3c3c3c;
              }
            }
            .transaction-operation{
              .transaction-operation-wrapper{
                width: 100%;
                padding: 12px 0 16px 0;
                text-align: center;
                a{
                  color: #3c3c3c;
                  &:hover{
                    color: #ff1268;
                  }
                }
              }
            }
          }
        }
      }
  }  

  #footer {
    background: #fcfcfc;
  }
  .footer {
    padding: 16px 0 20px 0;
    .foot_link {
      font-size: 12px;
      line-height: 42px;
      margin-bottom: 30px;
      text-align: center;
      a {
        color: #666666;
        margin: 0 10px;
        &:hover {
          color: #ff1369;
        }
      }
    }
    .foot_msg {
      .left {
        a {
          float: left;
          margin-right: 40px;
        }
        .qr {
          text-align: center;
          img {
            display: block;
            margin-bottom: 5px;
          }
          span {
            font-size: 12px;
            color: #111111;
          }
        }
      }
      .right {
        margin-left: 100px;
        p {
          font-size: 12px;
          span {
            color: #333333;
            line-height: 28px;
            padding: 0 10px;
          }
        }
      }
    }
  }
  